* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    display: flex;
    height: 100vh;
    width: 100vw;
}

aside {
    height: 100vh;
    width: 15vw;
    background-color: #503C3C;
    border-right: 2px solid #A87C7C;
}

#form {
    background-color: #3E3232;
    display: flex;
    height: 100vh;
    width: 85vw;
}

.form-wrapper {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Formularz */

form {
    text-align: center;
    background-color: #7E6363;
    height: 60vh;
    width: 25vw;
    border-radius: 50px;
}

.input {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 10vh;
}

input {
    background-color: transparent;
    border: none;
    border-bottom: 2px solid black;
    text-align: center;
    height: 50%;
    width: 50%;
}

label {
    display: flex;
    justify-content: center;
    padding-top: 2vh;
}

#input-checkbox {
    height: 5vh;
}

#checkbox {
    width: 40%;
    height: 40%;
}

#submit {
    /* Div przycisku dodaj */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
}

#submit>input {
    height: 30%;
    background-color: #A87C7C;
    border: 2px solid #3E3232;
    border-radius: 50px;
}

/* Aside */

nav {
    height: 100vh;
    width: 100vw;
}

.nav-item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 7vh;
    width: 15vw;
    border-bottom: 2px solid #A87C7C;
    transition: .5s;
}

.nav-item:hover {
    background-color: #7E6363;
    transition: .5s;
}